/* Imports */
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Imports */

* {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
}

body {
    background-color: #ae88c6;
    width: 100%
}

nav {
    background-color: white;
    list-style-type: none;
    height: 310px;
    text-align: center;
    margin: auto;
}

nav ul {
    display: block;
    align-items: center;
    list-style-type: none;
    height: 60px;
    margin: auto;
}

nav ul li {
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:link,
nav ul li a:visited {
    color: #5F148F;
}

nav ul li a:active,
nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
}

#current {
    font-weight: bold;
}

#logo img {
    width: 176px;
    padding-left: 10px;
}

/* Creating an animation to let the user know that the logo is clickable */
#logo img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

#cart {
    align-items: flex-end;
}

#cart img {
    width: 30px;
}

#cart a {
    display: flex;
    align-items: center;
}
/* Setting the default font styles for the website */

h1, h2, h3 {
    font-family: 'BioRhyme', serif;
    font-weight: bold;
}

p, form {
    font-family: 'Roboto', sans-serif;
}

/* Adjusting the Header Styles */

.img-container {
    background-image: url(../img/header/header1920.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 5px solid black;
    margin-bottom: 20px;
}

/* Adding styles to the header script */

.inner-container {
    position: absolute;
    margin-top: 50px;
    right: 10%;
    left: 10%;
}

.img-container h2 {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: #008f40;
    -webkit-text-stroke: 0.001em white;
    text-align: center;
    line-height: 3rem;
}

/* Creating the Header button styles */

.hbutton, .form-buttons input {
    background-color: #5f148f;
    padding: 0.8rem;
    border: 2px solid white;
    color: white;
    border-radius: 100px;
    font-size: 1rem;
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: center;
}

.innet-container a:link,
.inner-container a:visited, a {
    text-decoration: none;
}

.inner-container a:hover .hbutton,
.inner-container a:active .hbutton,
.inner-container a:focus .hbutton,
.form-buttons input:hover,
.form-buttons input:active,
.form-buttons input:focus {
    background-color: #8027d6;
    text-decoration: underline;
    transition: background 0.5s;
}

/* Adding active, click animations */

.inner-container a:active .hbutton,
.form-buttons input:active {
    transform: scale(0.9);
    transition: transform 0.5s;
}

/* Setting up boxes */

.box {
    padding: 1em;
    background-color: white;
    margin: 1rem auto;
    border: 2px solid black;
    text-align: center;
}

.box p {
    text-align: left;
}

.box img {
    margin: auto;
    border: 3px solid #5f148f;
}

.box img, .box {
    border-radius: 20px;
    width: 70%;
}

/* setting up the mid section */

section {
    text-align: center;
    color: white;
    background-color: #008F40;
    margin: 50px 0 0;
}

section h3 {
    font-size: 2rem;
}

section p{
    font-size: 1.5rem;
}

section img {
    width: 40%;
    margin: 10px auto;
    border-radius: 20px;
    border: 3px solid white;
}

section a, footer a {
    text-decoration: none;
    color: white;
}

section a:hover h3,
section a:active h3,
section a:focus h3,
footer a:hover h3,
footer a:active h3,
footer a:focus h3 {
    color: purple;
}

/* Setting up Footer */

.contact {
    text-align: center;
    color: white;
    margin: 0 auto;
}

.contact h3 {
    font-size: 2rem;
}

.contact p {
    font-size: 1.2rem;
}

#CPartR, #CPartL {
    width: 30%;
    display: block;
    margin: auto;
    padding: 2em;
}

#CPartL {
    display: none;
}

/* About Page */
.wrapper {
    background-color: white;
    padding: 1em;
}

.wrapper h1 {
    text-align: center;
}

.wrapper img {
    width: 50%;
    display: block;
    margin: 0.5em auto 2em auto;
    border-radius: 20px;
}

/* Products page */

main h2 {
    text-align: center;
    background-color: white;
    font-size: 3rem;
    border-radius: 30px;
    width: 80%;
    margin: 0.5em auto 0.5em auto;
    border: 2px solid black;
}

/* Making the Contact Form */

form {
    font-size: 1.5rem;
}

fieldset {
    padding: 1em;
    border: 0;
    text-align: center;
}

input {
    margin: 0.3em;
}

.name {
    width: 60%;
    height: 30px;
    font-size: 1.5rem;
}

h4 {
    font-size: 2rem;
    font-weight: normal;
}

#comment {
    width: 90%;
    height: 300px;
}

#comment, .name {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.3em;
}

.form-buttons input {
    border: 2px solid black;
    color: white;
    width: 45%;
}

/* Tablet View */

@media (min-width: 768px) {
    /* Unhiding the Nav menu */
    nav {
        height: auto;
        display: flex;
    }
    
    nav ul li {
        display: flex;
    }

    nav ul {
        padding-left: 200px;
        display: flex;
        margin: 0;
    }

    #logo img {
        position: absolute;
        top: 4px;
        z-index: 9;
        transition: transform 0.5s;
    }

    /* Changing position of the Header test */
    
    .inner-container {
        right: 20%;
        left: auto;
        font-size: 3rem;
        line-height: 3rem;
    }

    .hbutton {
        padding: 0.2em;
    }

    /* Aligning the boxes horizentially */
    .boxes {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 40%;
    }

    /* Realigning the About section */
    section {
        display: flex;
    }

    section div {
        margin: auto;
    }

    section img {
        width: 25%;
        margin: 1em 5em 1em 0;
    }

    /* Making both images appear in the footer */

    footer {
        display: flex;
        margin-top: 2em;
    }

    #CPartL {
        display: block;
    }

    #CPartR, #CPartL {
        width: 40%;
        margin-bottom: 0;
        padding: 0;
    }

    .contact {
        width: 500px;
    }

    /* About Us page */
    .wrapper {
        width: 100%;
        margin: auto;
        border: 2px solid black;
        border-radius: 30px;
    }

    .wrapper img {
        width: 40%;
    }

    .form-buttons input {
        width: 30%;
    }

}

/* Desktop View */
@media (min-width: 1024px) {

    .inner-container h2 {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .boxes {
        margin: auto;
        width: 90%;
        justify-content: space-between;
    }

    .box {
        width: 28%;
        margin: 0.3em;
    }

    
    #CPartR, #CPartL {
        width: 20%;
    }

    /* About Us Page */
    .wrapper {
        width: 60%;
    }

    .wrapper img {
        width: 30%;
    }

    /* Contact Form */
    .name {
        width: 30%;
    }

    #comment {
        width: 80%;
    }

    /* Cart Animation */
    #cart a:hover > img,
    #cart a:focus > img {
        animation-name: CartZoom;
        animation-duration: 5s;

    }
}

/* Adjusting for larger desktop screens */

@media (min-width: 1440px) {     
    
    body p, .contact p {
        font-size: 1rem;
    }

    h1, h2, h3, .contact h3 {
        font-size: 2rem;
    }

    section div h3 {
        font-size: 2rem;
    }
    
    section div p {
        font-size: 1rem;
    }

    section img {
        width: 15%;
        margin-right: 20%;
    }
}

@media (min-width :1730px) {
    .boxes {
        width: 50%;
        margin: auto;
    }
}

/***********************
Cart Animation Keyframes
************************/

@keyframes CartZoom {
    10% { 
        transform: rotate(-45deg);
    }

    15% {
        transform: translate(2500px);
    }
}