/* Imports */
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Imports */


/* Setting a variable for the primary colours on the page so that it can be changed aleter if needed */
:root {
    --red: #A50000;
}

/* Setting default font-size and setting default margin and padding to 0 */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Ensuring that all images display their height automatically */
img {
    height: auto;
}

/* Setting up the header Image */
.img-container {
    background-image: url(../img/header/header1920.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 5px solid black;
}

#logo {
    display: block;
    margin: auto;
    vertical-align: middle;
    padding-top: 100px;
}

.container {
    padding: 1em;
    border: 2px solid black;
}

/* Setting up the Navigation and other links on the page */
nav {
    background-color: var(--red);
    list-style-type: none;
    height: auto;
    text-align: center;
    margin-bottom: 2em;
}

nav ul {
    align-items: center;
    list-style-type: none;
    margin: auto;
}

nav ul li {
    padding: 0.2em;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
    text-decoration: none;
}

nav ul li a:active,
nav ul li a:hover,
nav ul li a:focus,
.video a:active figcaption,
.video a:hover figcaption,
.video a:focus figcaption,
.projects a:active p,
.projects a:hover p,
.projects a:focus p {
    text-decoration: underline;
}

/* Setting a special style for the current page on the Nav bar */
#current {
    font-weight: bold;
}

/* Setting default styles for the H1's */
h1 {
    text-align: center;
    font-weight: bold;
}

/* Style for the bars that divide the various sections of the page */
.page-break {
    background-color: var(--red);
    height: 41px;
    padding: 0.5em;
    color: white;
    margin: 1em 0 1em 0;
}

.page-break h2 {
    font-size: 1.5rem;
    text-align: center;
}

/* Creating the styles for the featured examples of web development on the page */
.web, .solo-photo img, .multi-photo img {
    border: 2px solid black;
    border-radius: 20px;
    width: 75%;
    margin: 1em auto 1em auto;
}

.web img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid black;
}

.web p {
    text-align: center;
    font-weight: bold;
    padding-top: 0.5em;
}

/* Setting the font size  for the "Click on Image to see more" sections */
.container p:nth-child(1) {
    text-align: center;
    font-size: 2rem;
}

/* Setting up styles for the Photography grid section */
.solo-photo img, .multi-photo img {
    width: 75%;
    display: block;
    margin: 2em auto 2em auto;
}

.multi-photo a:nth-child(1),
.multi-photo a:nth-child(2),
.multi-photo a:nth-child(3),
.video:nth-child(3),
.video:nth-child(4),
.web:nth-child(4) {
    display: none;
}

/* Style for all of the Buttons on the website */
.btn {
    display: block;
    background-color: var(--red);
    border: 2px solid black;
    margin-top: 1em;
    width: 50%;
    border-radius: 20px;
    font-size: 1.5rem;
    color: white;
    margin: 1em auto 1em auto;
}


/* Adding an effect to the hover and active sate of all the images */
a:active img,
a:hover img,
a:focus img {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.video a:link,
.video a:visited,
.projects a:link,
.projects a:visited {
    color: black;
    text-decoration: none;
}

/* Setting styles for the featured Video Production examples */
.video img {
    border: 2px solid black;
    border-radius: 20px;
    width: 75%
}

.video img, .video figcaption {
    display: block;
    width: 75%;
    margin: auto;
}

/* About Page Styles */

.about img {
    width: 203px;
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    margin: 1em auto 1em auto;
}

/* Setting styles for the Education and Experience text boxes */
.exp {
    padding: 0 2em 0 2em;
}

.exp p, .exp h3 {
    font-size: 1rem;
}

.exp p {
    font-style: italic;
}

/* Social media Icons on the Contact page */
.social a img {
    width: 45px;
    height: 45px;
    border-radius: 0;
    border: 0;
    margin: 0.3em;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}


/* Contact Form styles */
 fieldset {
     display: grid;
     grid-template-columns: 1fr;
 }

 label {
     text-align: center;
     font-size: 2.31rem;
 }

 input {
     margin-bottom: 1em;
     border: 1px solid black;
     border-radius: 20px;
     width: 100%;
     height: 37px;
 }

 #suggestion {
     height: 240px;
 }

 /* Setting styles for the footer */
footer {
    background-color: black;
    color:white;
    text-align: center;
    margin-top: 2em;
    padding: 1.5em;
}

 /* Tablet View */

 @media(min-width: 768px)  {

    /* Displaying the navigation horizentally */
     nav ul {
         display: flex;
         justify-content: center;
     }
     nav ul li {
        padding: 0 3em 0 3em;
     }

    .multi-photo a:nth-child(1),
    .multi-photo a:nth-child(2),
    .multi-photo a:nth-child(3),
    .video:nth-child(3),
    .video:nth-child(4),
    .web:nth-child(4) {
    display: block;
}

     /* Home page - Web Development */

     .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
     }

     /* Home Page - Photography */


     .multi-photo {
         display: grid;
         grid-template-columns: 1fr 1fr;
         margin-top: 2em;
         order: 2;
     }

     .solo-photo {
         order: 1;
     }

     .multi-photo img, .solo-photo img {
         width: 100%;
         margin: 0;
     }

     .solo-photo img {
         border-radius: 20px;
         /*border-radius: topL topR bottomR bottomL */
     }

     .multi-photo a:nth-child(1) img {
         border-radius: 20px 0 0 0;
     }

     .multi-photo a:nth-child(2) img {
        border-radius: 0 20px 0 0;
    }

    .multi-photo a:nth-child(3) img {
        border-radius: 0 0 0 20px;
    }

    .multi-photo a:nth-child(4) img {
        border-radius: 0 0 20px 0;
    }

    .photography {
        margin: 0 3em 0 3em;
    }

    /* About Page */
    .about img {
        width: 244px;
    }

    /* Contact Page */

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
 }

 /* Desktop View */

 @media(min-width: 1024px) {

     .projects {
         grid-template-columns: 1fr 1fr 1fr 1fr;
     }

     /* Photography */
     .photography {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }

     .solo-photo {
        align-self: end;
     }
     .solo-photo img {
        border-radius: 20px 0 0 20px;
        /*border-radius: topL topR bottomR bottomL */
    }

    .multi-photo a:nth-child(1) img, .multi-photo a:nth-child(3) img {
        border-radius: 0;
    }

    .multi-photo a:nth-child(2) img {
       border-radius: 0 20px 0 0;
   }

   .multi-photo a:nth-child(4) img {
       border-radius: 0 0 20px 0;
   }
   /* Video Production */
   .video-row {
       display: grid;
       grid-template-columns: 1fr 1fr;
   }

   .video img {
       width: 100%;
       margin: 3em 0 0 0;
   }

   .video-row figure:nth-child(1) img, .video-row figure:nth-child(3) img{
       border-radius: 20px 0 0 20px;
   }

   .video-row figure:nth-child(2) img, .video-row figure:nth-child(4) img {
    border-radius: 0 20px 20px 0;
   }

   .about img {
    width: 375px;
}
}